accelerate==1.4.0
Cython==0.29.37
deepspeed==0.16.3
huggingface-hub==0.25.0
matplotlib
nltk==3.9.1
peft==0.14.0
rouge
rouge_score
scikit-learn
scipy
sentence-transformers==2.2.2
sentencepiece==0.2.0
six==1.16.0
spacy==3.8.3
tqdm
transformers==4.46.0
wandb==0.19.0

